<h1>Mon Panier</h1>
<ul>
  <%  @cart.items.each do |item| %>
    <li>
      <p><%= item.title %></p>
      <p><%= image_tag(item.photo) if item.photo.present? %></p>
      <p>Prix: <%= number_to_euros(item.price) %></p>
      <%# TODO: bouton supprimer CartItem %>
      <%= button_to "Supprimer l'article", cart_cart_item_path(cart_id: @cart.id, item_id: item.id),  method: :delete %>
    </li>
  <% end %>
</ul>
<p>Total panier: <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %> </p>



