    <section id="banner" style="background: #F9F3EC;">
      <div class="container">
        <div class="swiper main-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide py-5">
              <div class="row banner-content align-items-center">
                <div class="col-md-5 img-wrapper">
                  <img src="/assets/top_banner_kitten.png" class="img-fluid">
                </div>
                <div class="content-wrapper col-md-7 p-5 mb-5 text-end"> <!-- Ajout de la classe text-end pour aligner à droite -->
                  <div class="secondary-font text-primary text-uppercase mb-4">Réduction de 10 à 20 % immédiate</div>
                  <h2 class="banner-title display-1 fw-normal">Les plus beaux <span class="text-primary">chatons</span> du net !
                  </h2>
                  <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                    Je Fonce !
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                      <use xlink:href="#arrow-right"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    </br>



    <div class="row flex-md-row-reverse g-md-5 mb-5">
      <main class="col-md-9 mx-auto">
        <div class="filter-shop d-md-flex justify-content-between align-items-center">
          <div class="col-md-3 mt-5">

            <h2 class="display-1 mt-3 mb-0">Catysfashop</h2>
         </br>
          <div class="widget-menu">
            <div class="widget-search-bar">
              <div class="search-bar border rounded-2 border-dark-subtle pe-3">
                <form id="search-form" class="text-center d-flex align-items-center" action="" method="">
                  <input type="text" class="form-control border-0 bg-transparent" placeholder="Rechercher votre Catysphoto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"></path>
                  </svg>
                </form>
              </div>
            </div>
          </div>    
      </div>
          </br>
          
          <div class="sort-by">
            <select class="filter-categories border-0">
              <option value="">Trier par</option>
              <option value="">Name (A - Z)</option>
              <option value="">Name (Z - A)</option>
              <option value="">Price (Low-High)</option>
              <option value="">Price (High-Low)</option>
              <option value="">Rating (Highest)</option>
              <option value="">Rating (Lowest)</option>
              <option value="">Model (A - Z)</option>
              <option value="">Model (Z - A)</option>
            </select>
          </div>
        </div>

       </br>

      <div class="product-grid row">
     
      <div class="container">
        <div class="row justify-content-center">
          <% @items.each_slice(4) do |item_slice| %>
            <% item_slice.each do |item| %>
              <div class="col-md-3 mb-4">
                <div class="card h-100">
                  <%= image_tag(item.photo) if item.photo.present? %>
                  <div class="card-body">
                    <h4><%= item.title %></h4>
                    <div class="product-price pt-3 pb-3">
                      <strong class="text-primary display-6"> <%= number_to_euros(item.price) %></strong>
                    </div>
                    <!-- Bouton Voir le produit -->
                    <div class="text-center">
                      <%= link_to "Voir la photo", item_path(item), class: "btn btn-success mb-2" %>
                      <% if user_signed_in? %>
                          <% if !item_already_in_cart?(item.id) %>
                            <!-- Bouton Ajouter au panier -->
                            <%= button_to "Ajouter au panier", cart_cart_items_path(cart_id: current_cart.id, item_id: item.id), class: "btn btn-primary", method: :post %>
                          <%end%>
                      <% else %>
                        <!-- Renvoi vers sign_in -->
                        <%= link_to "Ajouter au panier", new_user_session_path, class: "btn btn-primary", method: :post %>
                      <% end%>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <!-- / product-grid -->
  </main>
  
</div>

<section id="banner" style="background: #F9F3EC;">
  <div class="container">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide py-5">
          <div class="row banner-content align-items-center">
            <div class="content-wrapper col-md-7 p-5 mb-5 text-start"> 
              <div class="secondary-font text-primary text-uppercase mb-4">Jusqu'à 40% de réduction sur une sélection de photos</div>
              <h2 class="banner-title display-1 fw-normal">minou <span class="text-primary">trop </span>mimi !!!
              </h2>
              <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 filter-button">
                Je Fonce !
                <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="col-md-3 img-wrapper kitten-img"> <!-- Ajout de la classe personnalisée "kitten-img" -->
              <img src="/assets/kitten.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

